@model IdentityChatEmail.Entities.Message
@{
    ViewData["Title"] = "CreateMessage";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";

}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Create New Message</h2>
            <form method="post">
                <div class="form-group mb-3">
                    <label asp-for="ReceiverEmail" class="form-label">Recipient Email</label>
                    <input type="text" asp-for="ReceiverEmail" class="form-control" />
                    <span asp-validation-for="ReceiverEmail" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Subject" class="form-label">Subject</label>
                    <input type="text" asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>

                <div class="form-group mb-4">
                    <label asp-for="MessageDetail" class="form-label">Message Details</label>
                    <textarea asp-for="MessageDetail" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="MessageDetail" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success w-100">Send Message</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                        Swal.fire({
                            icon: 'success',
                                title: 'Successful operation',
                            text: '@TempData["SuccessMessage"]'
                        });
            </text>
        }
    </script>
}



