
@{
    ViewData["Title"] = "ProfileDetail";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<div class="container">
    <p>Name: @ViewBag.name</p>
    <p>Surname: @ViewBag.surname</p>
    <p>Email: @ViewBag.email</p>
    <p>Phone: @ViewBag.phone</p>
</div>